.Home {
  .videos {
    margin: 100px auto 0;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1366px;
  }

  .description {
    text-align: center;
    margin-top: 120px;
  }

  .MuiCardContent-root {
    height: 100px;
  }
}

.Home::-webkit-scrollbar {
  width: 0 !important;
}
